// Mobile Mixins
mobile() {
  @media (max-width: 767px) {
    {block}
  }
}

// Table Mixins
tablet() {
  @media (min-width: 768px) and (max-width: 991px) {
    {block}
  }
}

// Desktop Mixins
desktop() {
  @media (min-width: 992px) {
    {block}
  }
}
