/* =============================
 * Global color variable
 * ============================= */


// Material Design Color
$red                     = #F44336
$pink                    = #E91E63
$purple                  = #9C27B0
$deep-purple             = #673AB7
$indigo                  = #3F51B5
$blue                    = #2196F3
$light-blue              = #03A9F4
$cyan                    = #00BCD4
$teal                    = #009688
$green                   = #4CAF50
$light-green             = #8BC34A
$lime                    = #CDDC39
$yellow                  = #FFEB3B
$amber                   = #FFC107
$orange                  = #FF9800
$deep-orange             = #FF5722
$brown                   = #795548
$blue-grey               = #607D8B

// Gray Color
$gray                    = #9E9E9E
$gray-50                 = #FAFAFA
$gray-100                = #F5F5F5
$gray-200                = #EEEEEE
$gray-300                = #E0E0E0
$gray-400                = #BDBDBD
$gray-500                = #9E9E9E
$gray-600                = #757575
$gray-700                = #616161
$gray-800                = #424242
$gray-900                = #212121

// Black & White
$black                   = #000000
$white                   = #FFFFFF



/* =============================
 * Block color variable
 * ============================= */

// Font
$body-font               = #333333
$body-background         = #F1F1F1


// Line
$line-dark               = #e0e0e0
$line-light              = #E91E63

// Wrapper
$wrapper-border          = #DDDDDD
$wrapper-background      = $white



// Body


$grey                    = #CCC
$grey-light              = #DDD
$grey-dark               = #999
$grey-dim                = #666
$black-light             = #555
$black-dim               = #333
$black-deep              = #222

$body-bg-color           = #F1F1F1

$wrapper-bg-color        = #FFF


$bg-body                 = #F1F1F1
$bg-light                = #E6E6E6


$shadow-color            = #D3D3D3
