// Global color variable
$red                     = #F10215
$grey                    = #CCC
$grey-light              = #DDD
$grey-dark               = #999
$grey-dim                = #666
$black-light             = #555
$black-dim               = #333
$black-deep              = #222

$body-bg-color           = #F1F1F1

$wrapper-bg-color        = #FFF


$bg-body                 = #F1F1F1
$bg-light                = #E6E6E6

$full-line-color         = #E0E0E0


$shadow-color            = #D3D3D3
