/* =============================
 * Global color variable
 * ============================= */


// Material Design Color
$red                     = #F44336
$pink                    = #E91E63
$purple                  = #9C27B0
$deep-purple             = #673AB7
$indigo                  = #3F51B5
$blue                    = #2196F3
$light-blue              = #03A9F4
$cyan                    = #00BCD4
$teal                    = #009688
$green                   = #4CAF50
$light-green             = #8BC34A
$lime                    = #CDDC39
$yellow                  = #FFEB3B
$amber                   = #FFC107
$orange                  = #FF9800
$deep-orange             = #FF5722
$brown                   = #795548
$blue-grey               = #607D8B

// Gray Color
$gray                    = #9E9E9E
$gray-50                 = #FAFAFA
$gray-100                = #F5F5F5
$gray-200                = #EEEEEE
$gray-250                = #E6E6E6
$gray-300                = #E0E0E0
$gray-350                = #CCCCCC
$gray-400                = #BDBDBD
$gray-500                = #9E9E9E
$gray-600                = #757575
$gray-700                = #616161
$gray-800                = #424242
$gray-900                = #212121

// Black & White
$black                   = #000000
$white                   = #FFFFFF



/* =============================
 * Block color variable
 * ============================= */

// Font
$body-font               = #333333

// Line
$line-dark               = $gray-300

// Shadow
$shadow-color            = #D3D3D3

// Background
$body-background         = #F1F1F1

$theme-color = hexo-config('color') ? hexo-config('color') : 'red'

if $theme-color == 'red'
  $line-light = $red
if $theme-color == 'pink'
  $line-light = $pink
if $theme-color == 'purple'
  $line-light = $purple
if $theme-color == 'deep-purple'
  $line-light = $deep-purple
if $theme-color == 'indigo'
  $line-light = $indigo
if $theme-color == 'blue'
  $line-light = $blue
if $theme-color == 'light-blue'
  $line-light = $light-blue
if $theme-color == 'cyan'
  $line-light = $cyan
if $theme-color == 'teal'
  $line-light = $teal
if $theme-color == 'green'
  $line-light = $green
if $theme-color == 'light-green'
  $line-light = $light-green
if $theme-color == 'lime'
  $line-light = $lime
if $theme-color == 'yellow'
  $line-light = $yellow
if $theme-color == 'amber'
  $line-light = $amber
if $theme-color == 'orange'
  $line-light = $orange
if $theme-color == 'deep-orange'
  $line-light = $deep-orange
if $theme-color == 'brown'
  $line-light = $brown
if $theme-color == 'blue-grey'
  $line-light = $blue-grey
