<% page.posts.each(function(post){ %>
  <article class="post">
    <a href="<%- url_for(post.path) %>">
      <h1><%= post.title %></h1>
      <div class="pocontent"><%- post.content %></div>
    </a>
  </article>
<% }) %>
<% if (page.total > 1){ %>
  <ol class="page-navigator">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </ol>
<% } %>