  <article class="post-detail">
    <h1 class="post-title"><a href="<%- url_for(page.link) %>"><%= page.title %></a></h1>
    <%- partial('_partial/post/post-meta') %>
    <div class="post-content">
        <%- page.content %>
    </div>
    <p class="tags">
    <% if (page.tags && page.tags.length) { %>
    
    <% } %>
    </p>
  </article>