@import "post-meta"

/* Structure */
.post {
	padding-bottom:20px;
	border-left:1px solid $grey-light;
	font-size:14px;
	line-height:140%;


	a {color: $black-dim;}

	& > h1 {
		margin: 0;
		padding: 20px 0 20px 20px;
		border-bottom: 1px solid $grey-light;
		line-height: 1.25;
	}

	&:hover {
		color: $black-deep;
		border-color: $line-light;

		& a {color: $black-deep;}

		h1 {border-color: $line-light;}
	}

}


/* 内容区markdown */
.post-content {
	font-size: 16px;
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	text-align: justify;
	line-height: 1.7;

	// 标签
	blockquote {
		position: relative;
		margin: 1em 0;
		padding: 2em 2em 1em;
		border-left: 1px solid $line-dark;
		background: ;

		&::before {
			content: '\f10d';
			position: absolute;
			top: -10px;
			color: $grey;
			font-size: 40px;
			font-family: FontAwesome;
		}
	}

	hr {
		margin: 40px 0;
		height: 1px;
		background: $grey;
		border: none;
	}

	img {
		display: block;
		margin: 0 auto;
		padding: 5px;
		border: 1px solid $grey;
		box-sizing: border-box;
		max-width: 100%;

		&:hover {
			border-color: $line-light;
		}
	}


	// 表格样式
	& > table {
		width: 100%;
		border-collapse: collapse;

		th, td {
			padding: 0 2em;
			height: 2em;
		}

		th {
			border-bottom: 2px solid $grey-light;
		}
		

		tbody tr {
			height: 20px;
			border-bottom: 1px solid $grey;

			&:nth-child(odd) {
				background: $bg-light;
			}
		}
	}




}
// 内容区结束


/* PoContent */
.pocontent {
	@extend .post-content;

	padding: 20px 0 0 20px;
	figure.highlight {
		margin-left: 0;
	}
}



// post 详情页

.post-detail {
	.post-meta {
		margin: 0;
		padding: 0;

	}
}