@import "post-meta"

/* Structure */
.post {
	padding-bottom:20px;
	border-left:1px solid #DDD;
	font-size:14px;
	line-height:140%;


	a {color: #333;}

	h1 {
		margin: 0;
		padding: 20px 0 20px 20px;
		border-bottom: 1px solid #DDD;
		line-height: 1.25;
	}

	&:hover {
		color: #222;
		border-color: #C10D0C;

		& a {color: #222;}

		h1 {border-color: #C10D0C;}
	}

}


/* 内容区markdown */
.post-content {
	font-size: 16px;
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	text-align: justify;
	line-height: 1.7;

	// 标签
	blockquote {
		position: relative;
		margin: 1em 0;
		padding: 2em 2em 1em;
		border-left: 1px solid #e6e6e6;
		background: #F9F9F9;

		&::before {
			content: '\f10d';
			position: absolute;
			top: -10px;
			color: #ccc;
			font-size: 40px;
			font-family: FontAwesome;
		}
	}

	hr {
		margin: 40px 0;
		height: 1px;
		background: #ccc;
		border: none;
	}

	img {
		display: block;
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #CCC;

		&:hover {
			border-color: #C10D0C;
		}
	}


	// 表格样式
	& > table {
		width: 100%;
		margin: 2em;
		border-collapse: collapse;

		th, td {
			padding: 0 2em;
			height: 2em;
		}

		th {
			border-bottom: 2px solid #DDD;
		}
		

		tbody tr {
			height: 20px;
			border-bottom: 1px solid #ccc;

			&:nth-child(odd) {
				background: #EEE;
			}
		}
	}




}
// 内容区结束


/* PoContent */
.pocontent {
	@extend .post-content;

	padding: 20px 0 0 20px;
	figure.highlight {
		margin-left: 0;
	}
}



// post 详情页

.post-detail {
	.post-meta {
		margin: 0;
		padding: 0;

	}

}