<footer id="footer" role="contentinfo">
    <div>&copy; <%= date(new Date(), 'YYYY') %> <a href="/"><%= config.title %></a>.
    <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>. <%= __('Designed by') %> <a href="http://rainylog.com" target="_blank">Rainy.</a>
	</div>
</footer><!-- end #footer -->
