<footer id="footer" role="contentinfo">
    <div class="container">&copy; <%= date(new Date(), 'YYYY') %><a href="/"><%= config.title %></a>.
    <%= __('Powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>. Designed by <a href="http://rainylog.com">Rainy.</a>
	</div>
	<div id="toTop"><a href="javascript:;">Top</a></div>
</footer><!-- end #footer -->