<header id="header" class="clearfix">
	<h1><a id="logo" href="<?php $this->options->siteUrl(); ?>" title="Rainyçš„åšå®¢"><%= config.title %></a></h1>
	<p class="description"><%= theme.subtitle %></p>
	<nav id="nav-menu" class="clearfix">
		<h2 class="outline">Main Menu</h2>
		<form id="search" method="post" action="./" role="search">
		<input id="search-input" type="text" name="s" class="inputbox" value="Search" onfocus="if (value =='Search'){value =''}" onblur="if (value ==''){value='Search'}">
		</form>
		<ul>
      <% for (var i in theme.menu){ %>
        <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
      <% } %>
		</ul>
	</nav>
</header>