<nav class="pagination clearfix">
  <ul>
    <% var prev_text = '<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>';var next_text = '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>' %>
    <%- paginator({
      mid_size: 2,
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </ul>
</nav>
