.post-content {
  figure.highlight {
		margin: 2em 0;
		background: $black-deep;
		color: $grey-light;
		font-size: 12px;
		overflow: scroll;
		overflow-y: hidden;

		.gutter {
			color: #30FFFF;
		}

		pre {
			background: $black-deep;
		}
	}

	code {
		padding: 2px 4px;
		background: #EEE;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;
		font-size: 12px;
	}

	pre {
		padding: 10px;
		overflow: auto;
		background: #EEE;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;

		code {
			padding: 0;
		}
	}
}