// Highlight Color
$highlight-deletion     = #fdd
$highlight-addition     = #dfd
$highlight-background   = #1d1f21
$highlight-current-line = #282a2e
$highlight-selection    = #373b41
$highlight-foreground   = #c5c8c6
$highlight-comment      = #969896
$highlight-red          = #cc6666
$highlight-orange       = #de935f
$highlight-yellow       = #f0c674
$highlight-green        = #b5bd68
$highlight-aqua         = #8abeb7
$highlight-blue         = #81a2be
$highlight-purple       = #b294bb
$highlight-gutter       = #737373

.post-content {
  figure.highlight {
		margin: 2em 0;
		background: $black-deep;
		color: $grey-light;
		font-size: 12px;
		overflow: scroll;
		overflow-y: hidden;
		overflow-x: auto;

		.gutter {
			color: $hight-gutter;
		}

		pre {
			background: $black-deep;
			margin: 0;
		}
	}

	code {
		padding: 2px 4px;
		background: #EEE;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;
		font-size: 12px;
	}

	pre {
		padding: 10px;
		overflow: auto;
		background: #EEE;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;

		code {
			padding: 0;
		}
	}



	pre .deletion { background: $highlight-deletion; }
	pre .addition { background: $highlight-addition; }
	pre .meta     { color: $highlight-purple; }

	pre {

		.comment { color: $highlight-comment; }

		.variable
		.attribute
		.tag
		.regexp
		.ruby .constant
		.xml .tag .title
		.xml .pi
		.xml .doctype
		.html .doctype
		.css .id
		.css .class
		.css .pseudo {
			color: $highlight-red;
		}

		.number
		.preprocessor
		.built_in
		.literal
		.params
		.constant
		.command {
			color: $highlight-orange;
		}

		.ruby .class .title
		.css .rules .attribute
		.string
		.value
		.inheritance
		.header
		.ruby .symbol
		.xml .cdata
		.special
		.number
		.formula {
			color: $highlight-green;
		}

		.title
		.css .hexcolor {
			color: $highlight-aqua;
		}

		.function
		.python .decorator
		.python .title
		.ruby .function .title
		.ruby .title .keyword
		.perl .sub
		.javascript .title
		.coffeescript .title {
			color: $highlight-blue;
		}

		.keyword
		.javascript .function {
			color: $highlight-purple;
		}

	}
}