@import url('https://fonts.googleapis.com/css?family=Electrolize');

/* 全局 */
.clearfix {
	zoom:1;
}
.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after {
	clear:both;
}
a {
	color:#333;
	text-decoration:none;
	outline:none;

	&:hover,
	&:active {
		color: #C10D0C;
	}

	&:focus {
		outline: none;
	}
}

img {
	border:0;
}


/* 结构 */
body {
	color:#333;
	background:#F1F1F1;
	font:normal 14px "TIBch","Classic Grotesque W01","Helvetica Neue",Arial,"Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
	-webkit-font-smoothing:antialiased;
}
#wrapper {
	width:900px;
	margin:80px auto;
	padding:0;
	border:1px solid #DDD;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#FFF;
	overflow:hidden;
}

#main {
	padding:50px 50px 0;
}

.pagination {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	border-top: 1px solid #e0e0e0;
	float: left;

	.current {
		border-top: 1px solid #C10D0C;
		position: relative;
		top: -1px;
	}

	ul {
		margin: 0;
		padding: 0;
		float: left;
	}

	span {
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		margin-right: 10px;
	}

	a {
		float: left;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		margin-right: 10px;

		&:hover {
			position: relative;
			top: -1px;
			border-top: 1px solid #C10D0C;
		}
	}
}
