// pages
@import "pages/about";
@import "pages/error";
@import "pages/archive"

// header
@import "header/header"

// post
@import "post/post";

// footer
@import "footer/footer"

// base
@import "base";
