/* 旧归档页面样式，待用


#about {
	text-align:center;
	padding:10px 10px 0;
	letter-spacing:1px;

  a {
    color: $line-light;
  }


  p {
    margin:1em 0;
  }
}


.links {
	margin:1em 0;
}

#about div.mostactive {
	display:inline;
	margin:0 1px;
}
*/