.links ul {
	list-style:none;
}
.links li {
	padding:0 5px;
	display:inline;
}
#archives {
	padding:0 10px;
	line-height:150%;
}
#archives ul,#archives li {
	list-style:none;
}
#archives a {
	color:#333;
}
#archives a:hover {
	color:#C10D0C;
}
ul.al_post_list {
	margin-left:50px;
	padding-left:5px;
	border-left:1px solid #CCC;
}
.archli {
	margin:10px 0;
	padding:5px;
	background:#F5F8FA;
	border:1px solid #DDD;
}
.archive-title {
	margin-bottom:10px;
}
h3.al_year {
	font-size:20px;
	padding:10px 5px;
	border-left:3px solid #FF0000;
}
.al_mon_list {
	border-left:1px solid #CCC;
}
.al_mon {
	display:block;
	padding-left:5px;
	border-bottom:1px solid #ccc;
}