/* 错误页面样式，待用
.browsehappy {
	text-align:center;
	padding:10px;
	border-bottom:2px solid $line-light;
	background:#FFF;
	font-size:20px;
	color:$line-light;
}
.error-page p {
	font-size:40px;
	font-weight:bold;
	text-align:center;
}
.error-page em {
	font-style:normal;
	font-size:180px;
}

*/